<!-- <h2>Hello {{dvh_hero.dvh_name}} </h2>
<p>Id           : {{dvh_hero.dvh_id}}</p>
<p>Name         : {{dvh_hero.dvh_name}}</p>

<div>
  <label for    = "heroes">Hero name:</label>
  <input type   = "text" id="name" [(ngModel)]="dvh_hero.dvh_name" >
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let detailhero of dvh_list_hero" routerLink="/detail/{{detailhero.dvh_id}}">


        <span class="badge">{{detailhero.dvh_id}}</span> {{detailhero.dvh_name}}



  </li>
</ul>
<!-- <app-heroes-detail [dvh_hero]="selectedHero"></app-heroes-detail> -->
<!-- <app-message></app-message> -->
